<ul class="nav mt-3">
    <li class="nav-item">
        <a href="#" class="nav-link ps-0">Today</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Tomorrow</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link active">Next 5 Days</a>
    </li>
</ul>
<div class="row g-0 mt-4">
    <div class="col-8 d-flex justify-content-between">
        <div class="card bg-secondary text-dark rounded-5" style="width: 19rem;">
            <div class="card-header bg-info rounded-5 rounded-bottom-0 pt-4 d-flex justify-content-between">
                <h5 class="fw-bold">{{ date.toLocaleDateString(undefined, {weekday: 'long'}) }}</h5>
                <h5 class="fw-bold">{{ date.toLocaleTimeString(undefined, { hour: "2-digit", minute: "2-digit" }) }}</h5>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between py-3">
                    <h1 class="card-title">{{ forecastData?.list[0].main.temp | number : '1.0-0' }}&deg;</h1>
                    <img src="../../../assets/images/Sunnny Windy Icon 1.svg" alt="">
                </div>
                <div class="mt-2 d-flex justify-content-between align-items-center">
                    <div>
                        <p class="card-text mb-0">Feels like <span class="fw-bold">{{ forecastData?.list[0].main.feels_like | number : '1.0-0'}}&deg;</span></p>
                        <p class="card-text mb-0">Wind {{ forecastData?.list[0].wind.deg }}&deg; <span class="fw-bold">{{ forecastData?.list[0].wind.speed }}m/h</span></p>
                        <p class="card-text mb-0">Pressure <span class="fw-bold">{{ forecastData?.list[0].main.pressure * .02952998057228486 | number : '1.0-2'}}in</span></p>
                        <p class="card-text mb-0">Humidity <span class="fw-bold">{{ forecastData?.list[0].main.humidity }}&percnt;</span></p>
                    </div>
                    <div>
                        <p class="card-text mb-0">Sunrise <span class="fw-bold" *ngIf="forecastData">
                            {{ forecastData.city.sunrise * 1000 | date : 'shortTime' }}
                        </span></p>
                        <p class="card-text mb-0" *ngIf="forecastData">Sunset <span class="fw-bold">{{ forecastData.city.sunset * 1000 | date : 'shortTime' }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngFor="let date of datesArray" class="card rounded-5 text-center bg-primary pt-4" style="width: 10rem;">
            <h5 class="text-uppercase">
              {{ date.toLocaleDateString(undefined, {weekday: 'short'}) }}
            </h5>
            <hr>
            <div class="card-body">
                <img src="../../../assets/images/01_sunny_color_w128.svg" alt="">
              <h5 class="card-title fw-bold">{{ forecastData?.main?.temp | number : '1.0-0' }}</h5>
              <h2 class="pt-4">{{ forecastData?.list[0].main.temp | number : '1.0-0'}}&deg;</h2>
            </div>
        </div>
    </div>
    <div class="col-3 ms-4">
        <h4>Chance of Rain</h4>
    </div>
</div>
