<div class="d-flex justify-content-between align-items-center">
    <nav class="nav">
        <a href="#" class="nav-link ps-0">
            <button class="btn btn-primary rounded-circle button-icon">
                <i class="bi bi-grid"></i>
            </button>
        </a>
        <a href="#" class="nav-link">
            <button class="btn btn-primary rounded-circle button-icon">
                <i class="bi bi-bell"></i>
            </button>
        </a>
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center button-icon">
                <i class="bi bi-geo-alt"></i>
            </div>
            <p class="mb-0">{{ city }}, {{ country }}</p>
        </div>
    </nav>
    <div class="w-25">
        <input type="text" class="form-control" placeholder="Search City">
    </div>
    <div>
        <button class="btn btn-primary">color mode</button>
        <button class="btn btn-primary">user</button>
    </div>
</div>